# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/extensions.json

# JetBrains
.idea/

# NuGet
*.nupkg
packages/

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini

# Local app settings and generated resources
**/appsettings.Development.json
